*.lib
*.user
*.tlog
*.exe
*.pdb
*.suo
*.opendb
*.db
*.idb
*.obj
*.ilk
Debug/
Release/
.vs/
x64/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.a

.idea
cmake-build-debug
cmake-build-release
